@model IEnumerable<Product>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                    <td><img src="~/Products/Images/@product.Img" width="50" height="40"  alt="Product Image" /></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                        <a asp-action="DeleteGet" asp-route-id="@product.Id">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>









